.greeting {
  font-size: 72px;
  color: #304503;
  margin-top: 24px;
}

#gender-btns {
  margin-top: 20px;
  margin-bottom: 20px;
}

#gender-btn {
  margin-right: 10px;
}

#container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 50%;
}

#wrapper {
  display: flex;
  justify-content: center;
}

.button {
  color: 'black'
}

.button:focus {
  color: 'white'
}

#checkBoxesWrapper {
  font-size: 24px;
}

.kiwi {
  width: 420px;
  top: -5 0px;
  right: -150px;
  position: absolute;
}

.coconut {
  z-index: -1;
  width: 650px;
  position: absolute;
  bottom: -130px;
  left: -320px;
  transform: rotate(-45deg);
}

.pomegranate {
  z-index: -1;
  width: 700px;
  left: -220px;
  top: -110px;
  position: absolute;
  transform: rotate(45deg);
}

.mango {
  z-index: -1;
  width: 600px;
  right: -240px;
  bottom: -120px;
  position: absolute;
  transform: rotate(-55deg);
}

