html, body {
  overflow-x: hidden;
}

body {
  position: relative;
  padding: 16px;
  background-color: #FCFCF7;
}

.open-prompt {
  /* animation: App-logo-spin infinite 5s linear; */
  color: #304503;
  font-size: 32px;

}

.container {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
}

p {
  text-align: center;
}

.name-input {
  margin-top: 20px;
  width: 50%;
  color: #304503;
  text-align: center;
}

#name-submit-button {
  font-size: 24px;
  margin-top: 48px;
  background-color: #304503;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tomato {
  width: 447px;
  transform: rotate(30deg);
  position: absolute;
  z-index: -1;
  left: -100px;
  bottom: -120px;
}

.broccoli {
  width: 640px;
  transform: rotate(267deg);
  position: absolute;
  z-index: -1;
  top: -130px;
  right: -190px;
}
